@import url('https://googleapis.com');
body{
    display:flex;
    flex-direction: column;
    margin:0px;
}
.header, .content1{
    display:flex;
    justify-content:space-between;
    background-color:#1F2937;
    font-family:"Roboto",sans-serif;
    padding:10px;
    margin:0px;
    color:#F9FAF8;
}
#title{
    font-weight:bold;
    font-size:24px;
}
.links{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;
    font-size:20px;
    padding:0px 20px;
}
a{
    color:#F9FAF8;
    text-decoration-line: none;
}
a:hover{
    text-decoration-line:underline;
}
#introduction{
    font-size: 48px;
    color:#F9FAF8;
    font-weight:900;
}
.paragraph{
    font-size:18px;
    color:#E5E7EB;
}
.verticalflex{
    display:flex;
    flex-direction:column;
}
.content1 img{
    height:300px;
    width:500px;
    margin-right:70px;
}
.content2{
    display:flex;
}
.content3{
    display:flex;
}
.content4{
    display:flex;
}
.copyright{
    display:flex;
}